*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #f3eed9;
  --sec-color: #824936;
  --third-color: #222c2a;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  border: 0;
}

h1 {
  font-weight: 900;
  font-family: "Playfair";
  font-size: 60px;
  color: var(--sec-color);
}

h2 {
  font-weight: 900;
  font-size: 36px;
  font-family: "Playfair";
  padding-bottom: 2rem;
}

p {
  font-weight: 400;
  font-size: 21px;
}

.title__text {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding-bottom: 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;

  padding: 4rem 0;
}

.header {
  min-height: 660px;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  max-width: 60%;
  margin: 0 auto;
}

.quality {
  background: FFF;
}

.quality h2 {
  color: var(--sec-color);
  text-align: center;
}

.row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1128px;
}

.col {
  width: 46%;
}

.custom {
  background: var(--third-color);
  color: var(--main-color);
}

.created {
  background: var(--sec-color);
  color: var(--main-color);
}
