* {
  box-sizing: border-box;
}

:root {
  --main-color: #222c2a;
  --second-color: #f3eed9;
  --third-color: #824936;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.6;
  color: var(--main-color);
}

img {
  width: 100%;
}

h1,
h2 {
  margin-top: 0;
  font-family: "Playfair Display", sans-serif;
  line-height: 1;
}

section {
  padding: 4em 0;
}

.section-title {
  font-size: 2.25rem;
  color: var(--second-color);
}

.section-title--dark {
  color: var(--third-color);
  text-align: center;
}

.section-three {
  background-color: var(--main-color);
  color: #fff;
}

.section-four {
  background-color: var(--third-color);
  color: #fff;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
}

.intro {
  background: var(--second-color);
  color: var(--third-color);
  text-align: center;
  min-height: 660px;

  display: flex;
  align-items: center;
}

.intro__text {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 10px;
  color: var(--main-color);
  margin: 0 0 0.25em;
}

.intro__title {
  font-size: 3rem;
}

@media (min-width: 800px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 5em;
  }

  .intro__title {
    font-size: 3.75rem;
  }
}
